  body {
    margin: 0px;
    background-color: #F3F3F3;
  }
  .nav {
    display: inline-block;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid #BBB;
  }
  .logo {
    height: 70px;
    float: left;
    margin-left: 20px;
  }
  .logo-text {
    float: left;
    margin-top: 31px;
    font-size: 23px;
    font-weight: bold;
  }
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
  .bordered-button {
    text-align: center;
    padding: 10px;
  }

  .bordered-button-red {
    border: 1px solid #c2414a;
    color: #c2414a;
  }

  .nav-button {
    padding: 10px;
    margin: 18px 30px;
    float: right;
    font-size: 10px;
    cursor: pointer;
  }

  .card-view {
    background-color: white;
    float: left;
  }

  .search-view {
    width: 30%;
  }

  .search-view .heading {
    color: #c2414a;
    font-weight: bold;
    border-bottom: 1px solid #CCC;
    margin: 10px 20px;
    padding: 15px;
    font-size: 13px;
  }

  .search-view .content {
    margin: 25px 0px;
  }

  .search-box {
    display: inline-block;
  }

  .search-box .search-text {
    float: left;
    height: 38px;
    width: 71%;
    padding: 0px 10px;
  }

  .search-box .search-text::placeholder {
    color: #AAA;
    font-size: 12px!important;
  }

  .search-box .search-action {
    float: left;
    background: #4c8ac9;
    padding: 11px;

  }

  .search-img {
    width: 17px;
  }

  .api-list-view {
    width: 61%;
  }

  .search-container {
    display: inline-block;
    width: 100%;
    margin: 20px 0px;
  }

  .spacing {
    float: left;
    height: 100px;
    width: 3%;
  }

  .api-list-view .heading {
    background-color: #49b5aa;
    color: white;
    text-align: left;
    padding: 20px;
    font-size: 13px;
    font-weight: bold;
  }

  .api-list-view .content-table {
    width: 100%;
    margin: 20px 0px;
  }

  .api-list-view .content-table th {
    color: #AAA;
    font-size: 11px;
    padding: 10px;
  }

  .api-list-view .content-table td {
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
  }

  .api-list-view .api-project-name {
    color: #AAA;
  }

  .api-list-view .api-name {
    color: #C1414A;
  }

  a{
    text-decoration: none;
    color: inherit;
  }

  .create-api-page-container {
    margin: -4px;
  }

  .create-api-container {
    width: 85%;
    margin: auto;
  }

  .create-api-container .nav {
    height: 200px;
  }

  .red-input {
   background: transparent;
       border: none;
       margin: 30px;
       padding: 10px 20px;
       border: 1px solid #DDD;
       font-size: 11px;
  }

  .red-input::placeholder {
    color: #CCC;
  }

  .button {
    color: white;
    padding: 10px 20px;
    display: inline-block;
    margin: 10px;
    font-size: 11px;
    cursor: pointer;
  }

  .button-red {
    background-color: #c2414a;
  }

  .button-green {
    background-color: #49b5aa;
  }

  .button-blue {
    background-color: #4c8ac9;
  }

  .create-api-container {
    margin-top: 20px;
    background: white;
  }

  .create-api-container .heading {
    background-color: #49b5aa;
    color: white;
    font-size: 12px;
    padding: 10px;
    text-align: left;
  }

  .node-container {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
  }

  .node-details {
    width: 70%;
  }

  .node-list {
    float: left;
  }

  .node-details {
    float: right;
  }

  .node-list {
    width: 25%;
  }

  .node-container .heading {
        background: white;
        font-size: 12px;
        color: #AAA;
  }

  .node {
    padding: 20px 0px;
    font-size: 12px;
    display: inline-block;
    float: left;
    border: 1px solid #EEE;
    width: 100%;
    margin: 0px !important;
  }



  .node:hover, .node.selected {
    color: white;
    background-color: #49b5aa;
    cursor: pointer;
  }

  .node-name {
        display: inline-block;
        margin-right: 15px;
        color: #c2414a;
        font-weight: bold;
        font-size: 14px;
  }

  .node-type {
        display: inline-block;
  }

  .node-details .heading {
    background-color: #EEE;
        color: black;
        border: 1px solid #EEE;
         margin: 50px 0px 0px 0px;
  }

  .node-details .node-spec-container {
    margin-top: 20px;
    font-size: 13px;
    text-align: left;
  }

  .node-details .node-spec-container .node-spec {
    padding: 0px 10px;
  }

  .add-parameter-container {
    display: inline-block;
    width: 100%;
  }

  #add-parameter {
    float: right;
  }

  .param-list-container {
    width: 30%;
    display: inline-block;
    float: left;
  }

  .param-details-container {
    width: 67%;
    float: right;
  }

  .param-details-container .param-name {
    text-align: left;
    padding: 13px 0px 10px 0px;
    font-weight: bold;
  }

  .param-type {
    float: left;
  }

  .param-reference-node {
    float: left;
    margin-left: 30px;
  }

  .constant-field-container {
    float: left;
    margin-top: 20px;
    width: 100%;
  }

  .constant-field {
    width: 90%;
    float: left;
  }



